

header {
    font-size: 20px;
}


.nav-link {
    color: #af94ce;
}

body{
    background-color: #1a1530f5;
    font-size: 20px;
    color: rgb(245, 245, 245);
}

.Formulario{
    font-size: 50px;
}

section{
    margin-left: 2%;

}
.contact{
    text-align: center;
}
.Contacto_form p{
    text-justify: auto;
}


.pie-pagina {
    margin-top: 200px;
    width: 100%;
    background-color: #0a141d;
    color: #efefef;
    text-align: center;
}

.grupo-1 .box p {
    color: #b3b3b3;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {

    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 15px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 150px;
    padding: 2.6%;
    margin-left: 25%;

}
a {
    text-decoration: none;
    color: white;

}


@media (max-width: 2400px) {
    .pie-pagina .grupo-1 {
        width: 20%;
    }
}

@media (max-width: 1200px) {
    .pie-pagina a .grupo-1 {
        width: 45%;
        margin-top: 10px;
    }
    .nav-link {
        width: auto;
    }
    
}

@media (max-width: 800px) {
    .pie-pagina .grupo-1 {
        width: 100%;
        max-width: 200px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        margin-bottom: 1px;
    }
}

