

header {
    font-size: 20px;
}


.nav-link {
    color: #af94ce;
}

body{
    background-color: #635799f5;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.Formulario{
    font-size: 50px;
}

section{
    margin-left: 2%;

}
.contact{
    text-align: center;
}
.Contacto_form p{
    text-justify: auto;
}

